<nav class="top-bar" data-topbar role="navigation">
<ul class="title-area">
  <li class="name">
    <h1><a href="<%= root_path %>">Que</a></h1>
  </li>
</ul>
<section class="top-bar-section">
  <ul class="left">
    <li class="<%= active_class('running') %>"><a href="<%= to 'running' %>"><span>Running</span></a></li>
    <li class="<%= active_class('scheduled') %>"><a href="<%= to 'scheduled' %>"><span>Scheduled</span></a></li>
    <li class="<%= active_class('failing') %>"><a href="<%= to 'failing' %>"><span>Failing</span></a></li>
  </ul>
</section>
</nav>
