<% if @list.page_count > 1 %>
  <ul class="pagination">
    <% if @list.prev_page %>
      <li class="arrow"><a href="<%= request.path %>?page=<%= @list.prev_page %>">&laquo; Previous</a></li>
    <% else %>
      <li class="arrow unavailable"><a disabled>&laquo; Previous</a></li>
    <% end %>
    <li class="unavailable"><a disabled>Page <%= @list.current_page %> of <%= @list.page_count %></a></li>
    <% if @list.next_page %>
      <li class="arrow"><a href="<%= request.path %>?page=<%= @list.next_page %>">Next &raquo;</a></li>
    <% else %>
      <li class="arrow unavailable"><a disabled>Next &raquo;</a></li>
    <% end %>
  </ul>
<% end %>
