<div class="row">
  <div class="small-12 columns">
    <h1><%= @list.total %> Failing Job<%= @list.total == 1 ? "" : "s" %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Next Run</th>
          <th>Failures</th>
          <th>Job</th>
          <th>Queue</th>
          <th>Args</th>
          <th>Error</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @list.page_jobs.each do |job| %>
          <tr>
            <td><a href="<%= to "jobs/#{job.job_id}" %>"><%== relative_time job.run_at %></a></td>
            <td><%= job.error_count %></td>
            <td><%= job.job_class %></td>
            <td><%= job.queue %></td>
            <td><pre><%= format_args job %></pre></td>
            <td><%= format_error job %></pre></td>
            <td>
              <form action="<%= to "jobs/#{job.job_id}" %>" method="post">
                <input type="hidden" name="_method" value="put" />
                <button class="plain" title="Retry Immediately"><i class="fa fa-refresh"></i></button>
              </form>
            </td>
            <td>
              <form action="<%= to "jobs/#{job.job_id}" %>" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button class="plain" title="Delete"><i class="fa fa-trash"></i></button>
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%== erb :_pager %>
  </div>
</div>
