<div class="row">
  <div class="small-12 medium-8 columns">
    <h1>Jobs</h1>
  </div>
  <div class="small-12 medium-4 columns">
    <%= erb :_search %>
  </div>
</div>
<div class="row">
  <a class="small-12 large-4 columns" href="<%= link_to 'running' %>">
    <div class="dashboard-stat running">
      <div class="cell">
        <h2>Running</h2>
        <span class="dashboard-value">
          <%= @dashboard.running %>
        </span>
      </div>
    </div>
  </a>
  <a class="small-12 large-4 columns" href="<%= link_to 'scheduled' %>">
    <div class="dashboard-stat scheduled">
      <div class="cell">
        <h2>Scheduled</h2>
        <span class="dashboard-value">
          <%= @dashboard.scheduled %>
        </span>
      </div>
    </div>
  </a>
  <a class="small-12 large-4 columns" href="<%= link_to 'failing' %>">
    <div class="dashboard-stat failing">
      <div class="cell">
        <h2>Failing</h2>
        <span class="dashboard-value">
          <%= @dashboard.failing %>
        </span>
      </div>
    </div>
  </a>
</div>
