<html>
<head>
  <title>Que Web</title>
</head>
<link rel="stylesheet" href="<%= root_path %>styles/normalize.css" />
<link rel="stylesheet" href="<%= root_path %>styles/foundation.min.css" />
<link rel="stylesheet" href="<%= root_path %>styles/font-awesome.min.css" />
<link rel="stylesheet" href="<%= root_path %>styles/application.css" />
<body>
  <%== erb :_navbar %>
  <%== erb :_flash %>
  <%== yield %>
  <script src="<%= root_path %>js/jquery.min.js"></script>
  <script src="<%= root_path %>js/jquery.timeago.min.js"></script>
  <script>
    (function($){
      $.timeago.settings.allowFuture = true;
      $(".timeago").timeago();
    }(jQuery));
  </script>
</body>
</html>
