<html>
<head>
  <title>Que Web</title>
</head>
<link rel="stylesheet" href="<%= root_path %>styles/normalize.css" />
<link rel="stylesheet" href="<%= root_path %>styles/foundation.min.css" />
<link rel="stylesheet" href="<%= root_path %>styles/application.css" />
<body>
  <%= erb :_navbar %>
  <%= yield %>
  <%= erb :_footer %>
</body>
</html>
