<div class="row">
  <div class="small-12 medium-8 columns">
    <h1><%= @list.total %> Queued Job<%= @list.total == 1 ? "" : "s" %></h1>
  </div>
  <div class="small-12 medium-4 columns">
    <%= erb :_search %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Queued</th>
          <th>Job</th>
          <th>Queue</th>
          <th>Args</th>
        </tr>
      </thead>
      <tbody>
        <% @list.page_jobs.each do |job| %>
          <tr>
            <td>
              <a href="<%= link_to "jobs/#{job.id}" %>"><%= relative_time job.run_at %></a>
              <%= erb :_past_due, locals: {job: job} %>
            </td>
            <td><%= h job.humanized_job_class %></td>
            <td><%= h job.queue %></td>
            <td><pre><%= h format_args(job) %></pre></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="small-8 columns">
    <%= erb :_pager %>
  </div>
</div>
