<div class="row">
  <div class="small-12 medium-8 columns">
    <h1><%= @list.total %> Running Job<%= @list.total == 1 ? "" : "s" %></h1>
  </div>
  <div class="small-12 medium-4 columns">
    <%== erb :_search %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Started</th>
          <th>Job</th>
          <th>Queue</th>
          <th>Args</th>
        </tr>
      </thead>
      <tbody>
        <% @list.page_jobs.each do |job| %>
          <tr>
            <td><%== relative_time job.run_at %></td>
            <td><%= job.humanized_job_class %></td>
            <td><%= job.queue %></td>
            <td><pre><%= job.args.map(&:inspect).join(', ') %></pre></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
