<div class="row">
  <div class="small-12 columns">
    <h1>Job <%= @job.id %></h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <tbody>
        <tr>
          <th>Job</th>
          <td><%= @job.humanized_job_class %></td>
        </tr>
        <tr>
          <th>Queue</th>
          <td><%= @job.queue %></td>
        </tr>
        <tr>
          <th>Priority</th>
          <td><%= @job.priority %></td>
        </tr>
        <tr>
          <th>Run At</th>
          <td>
            <%= relative_time @job.run_at %>
            <%= erb :_past_due, locals: {job: @job} %>
          </td>
        </tr>
        <tr>
          <th>Failures</th>
          <td><pre><%= @job.error_count %></pre></td>
        </tr>
        <tr>
          <th>Args</th>
          <td><pre><%= h JSON.pretty_generate(@job.args) %></pre></td>
        </tr>
        <tr>
          <th>Kwargs</th>
          <td><pre><%= h JSON.pretty_generate(@job.kwargs) %></pre></td>
        </tr>
        <tr>
          <th>Last Error</th>
          <td>
            <pre><%= h @job.last_error_message %></pre>
            <pre><%= h @job.last_error_backtrace %></pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <form class="form-inline" action="<%= link_to "/jobs/#{@job.id}" %>" method="post">
      <input type="hidden" name="_method" value="put" />
      <button><i class="fa fa-play-circle"></i> Run Immediately</button>
    </form>
    <form class="form-inline" maction="<%= link_to "/jobs/#{@job.id}" %>" method="post">
      <input type="hidden" name="_method" value="Delete" />
      <button class="button alert"><i class="fa fa-trash"></i> Delete</button>
    </form>
  </div>
</div>
